<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login</title>
    <link rel="stylesheet" href="/admin_login_files/sign-in.css">
</head>
<body>
    <div class="overall-container">
        <main>
           
            <form action="/sign-in" method="POST" id="form">
                <div class="heading">
                    <a href="/home" class="logo-home">
                        <div class="logo-name-div">
                            <div class="logo-div">
                                <img class="logo" src="/admin_login_files/lost-items-images/cu-logo.svg" alt="Covenant University Logo">
                            </div>
                            <p class="name">Lost & <br> Found</p>
                        </div>
                    </a>
                </div>
                <div class="form-details">
                    <h1 class="sign-in-text">Sign in</h1>
                    <div class="inputs-div">
                        <div class="username-div input-div">
                            <label for="" class="input-label username-label">Username</label>
                            <input type="text" class="form-input username " name="Username" id="">
                        </div>
                        <div class="password-div input-div">
                            <label for="" class="password-label input-label">Password</label>
                            <input type="text" class="form-input password " name="Password" value="">
                        </div>
                        <div class="error-div">
                            <p class="info"></p>
                        </div>
                        
                        <div class="btn-div">
                            <input type="button" value="Sign in" class="btn submit" onclick="check_item_page()">
                        </div>
                        
                    </div>
                    <div class="circle-holder">
                        <div class="circle1 circle">
                  
                        </div>
                        <div class="circle2 circle">
                        
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
                
            </form>
            <div class="back">
                <label class="back-home" for="back">&#8249;</label>
                <label class="back-home" for=""><a href="/home">Back to Home</a></label>
            </div>
        </main>
    </div>
    <script>
        let form = document.querySelector('form');
        let submitButton = document.querySelector('.submit');
        const info = document.querySelector('.info');
        info.style.display = "<%= info.display  %>"
        info.textContent = "<%= info.error %>";
        submitButton.addEventListener('click', (e)=>{
            const username = form.Username.value;
            const password = form.Password.value;
            const info = document.querySelector('.info');
            if(username == "" || password == ""){
                info.style.display = "block";
                info.textContent = "Enter values to empty fields";
            }else{
                    try{
                        submitButton.type = "submit";
                        info.style.display = "<%= info.display  %>"
                        info.textContent = "<%= info.error %>";
                    }catch(e){
                    console.log(e.message)
                    }
            }
        })
    </script>
</body>
</html>

<script>
var check_item_page = () =>{
    if("<%= info.id%>" != "" || "<%= info.id%>" != null){
        document.getElementById("form").action = "/sign-in/<%= info.id%>"
    }
}
</script>