<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/check_item_files/check-item.css">
    
</head>
<body>
    <%- include("./partials/nav_bar.ejs") %> 
    <div>
        <div class="lost-item-container" id="<%-info.item.id%>">
            <div class="item-time-uploaded-div item-details-div">
                <label for="time-uploaded" class="time-uploaded">Uploaded 2s ago</label>
            </div>    
            <div class="lost-item-div">
                <div class="image-slider-container" id=`<%=info.item.id%>`>
                    <div class="slider-container prev-image-container">
                        <input class="prev-image slide-image" type="button" value="<">
                    </div>
                    <div class="image-container">
                        <img class="item-image left-img" src="/<%=info.item.firstImage%>" alt="<%= info.item.Description %>">
                        <img class="item-image right-img" src="/<%=info.item.secondImage%>" alt="<%= info.item.Description %>">
                    </div>
                    <div class="slider-container next-image-container">
                        <input class="next-image slide-image" type="button" value=">">
                    </div>
                </div>
                <div class="lost-item-content-div">
                    <div class="item-name-div item-details-div">
                        <label for="item-name-label" class="item-label">Item name: </label> <input type="text" value="<%=info.item.item_name%>"  readonly name="item-name" class="item-name details-input">
                    </div>
                    <div class="item-location-found-div item-details-div">
                        <label for="item-location-found-label" class="item-label">Location Found:</label> <input type="text" readonly value="<%=info.item.Location%>"  name="location-found" class="location-found details-input">
                    </div>
                    <div class="item-current-location-div item-details-div">
                        <label for="item-current-location-label" class="item-label">Current Location:</label> <input type="text" readonly value="<%=info.item.Location%>"  name="current-location" class="current-location details-input">
                    </div>
                    <div class="item-date-found-div item-details-div">
                        <label for="item-date-found-label" class="item-label">Date Found:</label> <input type="text" readonly value="<%=info.item.itemDate%>"  name="date-found" class="date-found details-input">
                    </div>
                    <div class="retrieve-item-div">
                        <a class="retrieve-item" href="/item-retrieval/<%= info.item._id  %>"  ><button class="retrieve-item-btn btn">Retrieve</button></a>
                    </div>
              </div>
            </div> 
            <div class="item-category-div item-details-div">
                <label for="item-category-label" class="item-label">Category:</label>
                 <input type="text" readonly value="<%-info.item.Category%>"  name="category" class="category details-input">
            </div>   
        </div>
    </div>
</body>
</html>

<script src="/check_item_files/script.js"></script>